/* whole document */

html {
	font-family: sans-serif;
	overflow-wrap: break-word;
  	height: 100%;
  	width: 100%;
}

body {
	display: flex;
	align-content: flex-start;
	justify-content: center;
	padding: 0 8px;
}

body > div {
	min-width: 30vw;
	width: 70ch;
	max-width: 70ch;
}

/* header */

header {
	margin-bottom: 2em;
}

.title {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0;
}

.title a {
	text-decoration: none;
}

/* general */

span + span {
	margin-left: 5px;
}

.box details {
	padding: 16px 0 16px;
}

.box details[open] summary {
	border-bottom: 1px solid;
	padding-bottom: 16px;
	margin-bottom: 16px;
}

img {
	width: auto;
	max-width: 100%;
}

pre:has(> code) {
	padding: 1.5em;
	max-width: 100%;
	overflow: auto;
}

pre span + span {
	margin-left: 0;
}

/* special */

.greyed {
	font-weight: 300;
}

article, .box {
	padding: 0 16px;
	border: solid 1px;
}

article h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

article + article {
	margin-top: 1em;
}

header, .pagination, footer {
	text-align: center;
}

/* small screens */

@media screen and (max-width: 310px) {
	body {
		padding: 0 1px;
	}
}
