html {
	font-family: sans-serif;
  	height: 100%;
  	width: 100%;
	--fakeblack: #595959;
}

body {
	display: flex;
	align-content: flex-start;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
}

.main {
	width: 80ch;
	max-width: 80ch;
	color: var(--fakeblack);
}

.title {
	font-size: 3em;
	text-align: center;
}

.title a {
	text-decoration: none !important;
}

hr {
	border: solid 1px var(--fakeblack);
	margin: 2em 0;
}

.greyed * {
	font-weight: 300;
	color: var(--fakeblack);
}

.prev, .post {
	padding: 0 2em 0.8em;
	border: solid 1px var(--fakeblack);
}

.prev + .prev {
	margin-top: 1.5em;
}
