<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>
		{{ printf "#%s | %s" .Title site.Title }}
	</title>
	<style>
		div {
			margin-left: 50px;
		}
	</style>
</head>
<body>

	<p style="font-size:75px;margin:25px;font-style:italic;">
		<a href="/">
			{{site.Title}}
		</a>
	</p>

	{{ .Content }}

	{{ range .Pages }}

		{{ $t := "2006-01-02T15:04:05Z07:00" }}
		{{ $tHuman := "Monday, 02 Jan 2006" }}

		{{ $date := .PublishDate }}
		<h1>
			<time datetime="{{ $date.Format $t }}">
				{{ $date.Format $tHuman }}
			</time>
		</h1>
		<div>
			{{ .Content }}
		</div>

	{{ end }}

</body>
</html>
